body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #003145,rgba(216, 187, 187, 0));
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin: 80px;  
    flex-wrap: wrap;
}
.container__left{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.Big_text{
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
}

.small_text{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px
}

.button{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
text-align: center;
color: #003145;
width: 198px;
height: 47px;
background: #FFFFFF;
border-radius: 10px;
cursor: pointer;
}
.Box_Info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin: 80px;  
    flex-wrap: wrap;
}
.icon_1{
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal{
    height: 50px;
    width: 50px;
}
.Header_text{
text-align: center;
}
.Header_text span{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    color: black;
}
.Header_text .ai{
    color: green;
    margin-left: 5px;
}
.Add_info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin: 80px;  
    flex-wrap: wrap;
}

.cards{
    height: 200px;
    width: 500px;
    min-width: 300px;
    padding: 10px;
    background: #F8F9FD;
    border-radius: 20px;
    margin: 10px;
    
}
.card_text{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.03em;
}
.cal1{
    height: 50px;
    width: 50px;
    color: green;
}

.small_text1{
    font-weight: bolder;
}
.Projects_list{
    display: flex;
    align-items: center;
    justify-content: center;
}